body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

p {
    margin-bottom: 15px;
}

.panel {
    animation-duration: .2s;
    position: relative;
    user-select: none;
}

.panel.selected {
    background: #dff0d8;
    border: 1px solid #a94442;
    box-shadow: 0px 0px 6px #000;
}

.panel:hover {
    border: 1px solid #a94442;
    box-shadow: 0px 0px 6px #000;
}

label {
    font-weight: normal;
    cursor: pointer;
}

input.format {
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.panel-heading input.format {
    margin-left: 0;
}

.panel th {
    font-weight: normal;
}

.panel-body {
    padding: 15px 10px;
}

.panel-body hr {
    margin: 10px 0;
}

.panel.selected .panel-body hr {
    border-top: 1px solid #337ab7;
}